:root {
    /* https://modernfontstacks.com/ */
    --fontStackOldStyle: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    --fontStackHumanist: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --fontStackClassicalHumanist:  Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    --fontStackGeometricHumanist: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    --fontStackMonospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --fontStackIndustrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    --fontStackRoundedSans: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;

    --padding-xxs: 4px;
    --padding-xs: 8px;
    --padding-s: 16px;
    --padding-m: 24px;
    --padding-l: 32px;
    --padding-xl: 64px;

    --horizontal-content-padding: 0 var(--padding-xl);

    --header-height: 32px;
    --max-content-width: 1280px;


    --font-size-body: 1.25em;

    --primary-color: teal;
    --shadow-color: lightgrey;
    --font-color: #002f30;
    --font-color-inverse: white;
    --shadow-color: lightgrey;
}

body {
    font-family: var(--fontStackGeometricHumanist);
    font-size: var(--font-size-body);
    line-height: calc(var(--font-size-body) * 1);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    background-color: ghostwhite;
    margin: 0;
}

.header {
    position: absolute;
    top: 0;
    height: var(--header-height);
    width: 100%;
    max-width: var(--max-content-width);
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--font-color-inverse);
    padding: 0 var(--padding-s);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: var(--padding-s);
    align-items: center;
}

.header a {
    color: var(--font-color-inverse);
    text-decoration: none;
}

.content {
    background-color: white;
    max-width: var(--max-content-width);
    height: 100vh;
    padding-top: calc(var(--header-height) + var(--padding-m));
    padding-bottom: var(--padding-m);
    display: grid;
    grid-auto-flow: row;
    gap: var(--padding-xl);
    box-sizing: border-box;
    overflow: scroll;

    /* Hide scrollbar */
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
    display: none;
  }

  .section-layout {
      display: grid;
      grid-template-rows: max-content 1fr;
  }

@media only screen and (min-width: 768px) {
    .section-layout {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.about {
    gap: var(--padding-l);
    padding: var(--horizontal-content-padding);
    text-align: justify;
}

.contact {
    display: grid;
    align-content: top;
    justify-items: center;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    gap: var(--padding-xxs);
    padding: var(--horizontal-content-padding);
}

.social-media-icons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: max-content;
    gap: var(--padding-xs);
}

.social-media-icon {
    width: 32px;
    height: 32px;
    fill: var(--primary-color)
}

.contact h1 {
    text-align: center;
}

.contact span {
    text-align: center;
    font-style: italic;
    display: block;
}

.portrait {
    width: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px var(--shadow-color);
}

.skills {
    background-color: var(--primary-color);
    color: var(--font-color-inverse);
    gap: var(--padding-l);
    padding: var(--horizontal-content-padding);
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.timeline-container {
    align-items: start;
    padding: var(--horizontal-content-padding);
}

.section-heading {
    margin-top: 0;
}

.timeline {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    gap: var(--padding-s);
}

.timeline-card {
    background-color: white;
    border: 1px solid var(--shadow-color);
    box-shadow: 4px 4px 4px var(--shadow-color);
    border-radius: var(--padding-xxs);
    padding: var(--padding-s);
    transition: box-shadow 250ms
}

.timeline-card:hover {
    box-shadow: 8px 8px 8px var(--shadow-color);
}

.timeline-card-heading {
    font-weight: bold;
}

.timeline-card-subheading {
    font-size: calc(var(--font-size-body) - 2px);
}